<div class="jumbotron">
  <h1 class="display-4">BRLA!</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi nisi officiis perspiciatis repellat sequi. Cupiditate dolores non quo repudiandae velit. Accusantium deserunt enim ex illum nisi perspiciatis, quae quo saepe?</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" [routerLink]="['/','home']" role="button">Learn more</a>
</div>
